*{
	margin: 0;
	padding: 0;
}
.header{
	background: #F9F9F9;
}
.head{
	width: 1180px;
	height: 34px;
	margin: 0 auto;
}
.head a{
	color: #111111;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.head li{
	float: left;
	height: 34px;
	margin: 0 15px;
	line-height: 34px;
}
.head li:hover{
	font-weight: 800;
	cursor: pointer;
}
.user,.my{
	float: right;
	height: 34px;
	line-height: 34px;
	float: right;
}
.user a{
	color: #000000;	
	margin: 0 10px;
	float: right;
	cursor: pointer;
}
.my a{
	color: #000000;	
	margin: 0 10px;
	float: right;
	cursor: pointer;
}
.my img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 2px;
	cursor: pointer;
}
.footer{
	height: 110px;
	background: #222;
	overflow: hidden;
}
.foot{
	width: 1180px;
	margin: 20px auto;
	text-align: center;
}
.foot p{
	color: #fff;
	margin: 10px;
	font-size: 12px;
}
#toUpload{
	float: right;
    width: 50px;
    height: 34px;
    background: skyblue;
    font-style: normal;
    text-align: center;
    line-height: 34px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.tovideo{
	cursor: pointer;
}
.tovideo :hover{
	color: skyblue;
}
.toUser{
	cursor: pointer;
}
.toUser:hover{
	color: skyblue;
}
