#uploadhead{
	width: 100%;
	height: 100%;
}
.uploadbox:hover{
	border: 1px solid skyblue;
}
.myhead{
	display: none;
}
.myvideo{
	display: none;
}
#uploadvide{
	width: 100%;
	height: 100%;
}
.uploadvideobox:hover{
	border: 1px solid skyblue;
}
#num{
	margin-left: 5px;
}
#fiter {
  width: 512px;
  height: 352px;
  background: #fff;
  z-index: 12;
  position: absolute;
  left: 50%;
  margin-left: -256px;
  text-align: center;
  top:150px;
  display:none;
  z-index: 9999;
}

#fiter i {
  display: inline-block;
  width: 88px;
  height: 88px;
  background: #fff;
  border: 4px solid #F8D486;
  border-radius: 50%;
  margin-top: 35px;
}

#fiter em {
  height: 47px;
  width: 5px;
  position: absolute;
  background: #F8D486;
  border-radius: 2px;
  left: 50%;
  margin-left: -3px;
  top: 52px;
}

#fiter b {
  height: 7px;
  width: 7px;
  position: absolute;
  background: #F8D486;
  border-radius: 50%;
  left: 50%;
  margin-left: -4px;
  top: 110px;
}

#fiter h3 {
  color: #575757;
  font-size: 30px;
  margin-top: 18px;
}
#fiter p {
  color: #797979;
  margin: 25px 0;
}
#fiter a {
  display: inline-block;
  color: #fff;
  background: #aedef4;
  border-radius: 5px;
  padding: 10px 32px;
  cursor: pointer;
}