.check{
	width: 22px;
	height: 22px;
	float: left;
	background: #FFFFFF;
	border: 1px solid #ccc;
	margin-right: 15px;
	cursor: pointer;
}
.tab .checkli{
	position: relative;
}
.checkli em{
	display: inline-block;
	width: 34px;
	height: 32px;
	background: url(../img/checkboxed.png);
	position: absolute;
	left: 0;
	top: 10px;
	cursor: pointer;
}
.tab .checkli{
	margin-left: 50px;
}
.checkli .infourl{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	float: left;
}
.checkli span:nth-of-type(1){
	float: left;
	width: 80px;
	text-align: right;
	margin-right: 20px;
}
.sex{
	float: left;
	margin-right: 20px;
}
.checkli .boy{
	left: 100px;
}
.checkli .girl{
	left: 175px;
}
.tab .updatebg{
	width: 360px;
	height: 60px;
	border-radius: 0;
}
.tab .update{
	width: 20px;
	height: 20px;
	float: none;
	border-radius: 0;
	margin-left: 20px;
	cursor: pointer;
}
.checkli input{
	height: 21px;
	width: 300px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
.checkli .save{
	padding: 3px 5px;
	font-weight: normal;
	background: skyblue;
	font-size: 12px;
	border-radius: 4px;
	margin-left: 15px;
	cursor: pointer;
}
.uploadbox{
	display: inline-block;
	width: 64px;
	height: 64px;
	cursor: pointer;
	border: 1px solid #ccc;
	position: relative;
}
.uploadbox:hover{
	border: 1px solid skyblue;
}
.uploadbox img{
	width: 64px;
	height: 64px;
	position: absolute;
	border-radius: 0;
	top: 0;
	left: 0;
}
.uploadbox .uploadhead{
	width:100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.checkli .clear{
	background: #ccc;
}
.checkli .del{
	background: #ccc;
}
.uploadbox2{
	display: inline-block;
	width: 360px;
	height: 58px;
	cursor: pointer;
	border: 1px solid #ccc;
	position: relative;
}
.uploadbox2:hover{
	border: 1px solid skyblue;
	cursor: pointer;
}
.uploadbox2 img{
	width: 360px;
	height: 58px;
	position: absolute;
	border-radius: 0;
	top: 0;
	left: 0;
	display: none;
}
.uploadbox2 .uploadhead{
	width:100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.uploadvideobox{
	display: inline-block;
	width: 360px;
	height: 120px;
	cursor: pointer;
	border: 1px solid #ccc;
	position: relative;
}
.uploadvideobox video{
	width: 360px;
	height: 120px;
	position: absolute;
	border-radius: 0;
	top: 0;
	left: 0;
}
.uploadvideobox .uploadhead{
	width:100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.checkli select{
	width: 150px;
}
.tab .upload{
	float: left;
	margin-left: 200px;
	padding: 5px 10px;
	background: skyblue;
}
.contribute .checkli{
	border: 0;
}
.save{
	display: none;
}
.newvalue{
	display: none;
}
.uploadurl{
	display: none;
}
#uploadForm{
	width: 100%;
	height: 100%;
}
#bgForm{
	width: 100%;
	height: 100%;
}
#bgForm #bgfile{
	width: 100%;
	height: 100%;
	opacity: 0;
}